<!DOCTYPE html>
<html lang="es">
<head>
    {%load bootstrap5%}
    {%load static%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/socio.css'%}">
    <link rel="stylesheet" href="{%static 'css/sliderresponsive.css'%}">
    <!--<script type="text/javascript" src="/js/script.js"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://kit.fontawesome.com/f90d3bf50d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <title>Agregar Socio</title>
    <link rel="shortcut icon" href="{%static 'img/faviconinsertar.png'%}">

</head>
<body>
<input type="checkbox" class="toggle-check" id="toggle" hidden>
<label class="toggle fw-bold h5 text-white" for="toggle">≡</label>
<form action="{%url 'menu'%}">
    {%csrf_token%}
    <button class="toggle" id="regresarmenu">Menu Principal</button>
</form>
<div class="container-menu">
    <nav class="menu">
        <img src="{%static 'img/gym-near.png'%}" width="70" height="70" class="pb-2">
        <a href="{%url 'socio'%}" class="item pt-3">Socios</a>
        <a href="{%url 'profesores'%}" class="item">Profesores</a>
        <a href="{%url 'instalaciones'%}" class="item">Instalaciones</a>
        <a href="{%url 'servicios'%}" class="item">Servicios</a>
        <a href="{%url 'centros'%}" class="item">Centro</a>
    </nav>
</div>
<div class="container">
    <div class="form-group text-center textwhite">
        <label class="fs-1 fw-bold">Socios</label>
    </div>
    <form class="row" action="{%url 'socio'%}" method="POST">
        {%csrf_token%}
        <div class="col-3 g-5 ">
            <label for="Snombre" class="form-label textwhite">Nombre<label id="color">*</label> </label>
            <input type="text" class="form-control" id="Snombre" placeholder="Escribe tu nombre" name="nombre" required>
        </div>
        <div class="col-3 g-5">
            <label for="SapellidoP" class="form-label textwhite">Apellido Paterno<label id="color">*</label></label>
            <input type="text" class="form-control" id="SapellidoP" placeholder="Escribe tu primer Apellido"
                   name="apellidoP" required>
        </div>
        <div class="col-3 g-5">
            <label for="SapellidoM" class="form-label textwhite">Apellido Materno</label>
            <input type="text" class="form-control" id="SapellidoM" placeholder="Escribe tu segundo Apellido"
                   name="apellidoM">
        </div>
        <div class="col-4 g-5">
            <label for="Scalle" class="form-label textwhite">Calle<label id="color">*</label></label>
            <input type="text" class="form-control" id="Scalle" placeholder="Escribe tu calle" name="calle" required>
        </div>
        <div class="col-2 g-5">
            <label for="Snumext" class="form-label textwhite">Numero Ext<label id="color">*</label></label>
            <input type="text" class="form-control" id="Snumext" placeholder="Numero Ext" name="numExt" required>
        </div>
        <div class="col-2 g-5">
            <label for="Snumint" class="form-label textwhite">Numero Int</label>
            <input type="text" class="form-control" id="Snumint" placeholder="Numero Int" name="numInt">
        </div>
        <div class="col-2 g-5">
            <label for="mensualidad" class="form-label textwhite">Mensualidad<label id="color">*</label></label>
            <input type="number" step="any" class="form-control" id="mensualidad" placeholder="Mensualidad"
                   name="mensualidad" required>
        </div>
        <div class="col-3 g-5">
            <label for="codigoP" class="form-label textwhite">Codigo Postal<label id="color">*</label></label>
            <select class="form-select" aria-label="Default select example" id="codigoP" name="cp">
                {%for codigoPostal in codigosPostales%}
                <option value="{{codigoPostal.id}}">{{codigoPostal.cp}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-3 g-5">
            <label for="colonia" class="form-label textwhite">Colonia<label id="color">*</label></label>
            <select class="form-select" aria-label="Default select example" id="colonia" name="colonia">
                {%for colonia in colonias%}
                <option value="{{colonia.id}}">{{colonia.nombre}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-3 g-5">
            <label for="estado" class="form-label textwhite">Estado<label id="color">*</label></label>
            <select class="form-select" aria-label="Default select example" id="estado" name="estado">
                {%for estado in estados%}
                <option value="{{estado.id}}">{{estado.nombre}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-3 g-5">
            <label for="municipio" class="form-label textwhite">Municipio<label id="color">*</label></label>
            <select class="form-select" aria-label="Default select example" id="municipio" name="municipio">
                {%for municipio in municipios%}
                <option value="{{municipio.id}}">{{municipio.nombre}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="pt-5 text-center">
            <button class="mi-boton" type="submit">Guardar socio</button>
        </div>
    </form>
</div>
</body>
</html>